:host {
    display: block;
    padding-top: 100px;
}

.panel{
    display: flex;
    justify-content: space-between;
    background-color: slategray;
    border: 1px solid rgb(46,42,42);
    border-radius: 5px;
    padding: 10px 15px;
    margin-bottom: 15px;
    font-size: 24px;
}