.header{
    display: flex;
    align-items: center;
    padding: 30px 0px;
    
    &-text{
      font-size: 20px;
      padding-right: 50px;
      padding-left: 34px;
    }

    &:after{
        content:"";
        display: block;
        width: 90%;
        height: 2px;
        background-color:#cccccc;
    }
}

.items {
    margin-left: 30px;
         .buttons{
            cursor: pointer;                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                           
            .left{
                transform: rotate(-45deg);
                transform-origin: top right;
            }
        }

    .item {
        margin: 0 30px;
        background-color: #dce0e4;
        width: 320px;
        height: 100%;
        max-height: 375px;
        border: 6px solid transparent;
        border-radius: 3px;
        text-transform: uppercase;
        font-weight: 600;

        .top, .bottom {
            display: flex;
            justify-content: space-between;
            padding: 18px;
        }
        .name {
            color: #aa9b77;
        }
        .img{
            text-align: center;
            height: 270px;
            padding: 0 20px;

            img {
                display: block;
                height: auto;
                width: auto;
                max-height: 100%;
                margin: auto;
            }
        }
        &:hover {
            border-color: #aa9b77;
        }
    }
}

drag-scroll {
    height: 400px;
}

::ng-deep .drag-scroll-content {
    margin-left: -30px;
    margin-right: -30px;
}
