.hero{
    background-image: url(../../../assets/background.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 82vh;
    top: 0;
    right: 0;
    left: 0;
    padding: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    h1 {
        max-width: 800px;
        font-size: 60px;
        color: #fff;
    }

    p {
        max-width: 586px;
        font-size: 20px;
        line-height: 1.6;
        color: #fff;
    }

    .scroll {
        position: absolute;
        bottom: 210px;
    }
}

.filter{
    width: 100%;
    padding-left: 50px;
    padding-top: 60px;
    padding-bottom: 50px;
    background-color: #bbbdbe;
    display: flex;
    &-content{
        display: flex;
        justify-content: space-between;
    }
    #myCheck{
        width: 25px;
        height: 24px;
        border-radius: 3px;
    }
    button{
        width: 204px;
        height: 52px;
        border-radius: 3px;
        background-color: #aa9b77;
        border: none;
        text-align: center;
        color: #ffffff;
        cursor: pointer;
        outline: none;
        text-transform: uppercase;
        margin-left: 83vh;
        margin-top: -17px;
    }
    label{
        user-select: none;
        cursor: pointer;
        font-weight: 600;
        text-transform: uppercase;
        display: flex;
        margin-left: 45px;
    }
}
.catalog-container{
    padding: 0;
}