<div class="hero">
    <h1>Our clothing , your comfort</h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
      magna aliqua.</p>
     <div class="scroll">
       <img src="../assets/fa-chevron-down.png" alt="">
     </div>
</div>

<div class="filter">
    <div class="container filter-content">
      <label>
    <input type="checkbox" id="myCheck">
    Men
  </label>
  <label>
    <input type="checkbox" id="myCheck">
    Women
  </label>
  <label>
    <input type="checkbox" id="myCheck">
    Children
  </label>
  <button>See all products</button>
   </div>
   </div>
   <div class="catalog-container">
    <app-slider header="Men" [slides]="menSlides"></app-slider>
    <app-slider header="Women"[slides]="womenSlides"></app-slider>
   </div>

