<div>
  <header>
    <div class="logo">
      <img src="../assets/logo.png" alt="logo">
    </div>
   <nav>
     <ul>
        <li><a href="#">Home</a></li>
        <li><a href="#">Products</a></li>
        <li>
         <a href="#">
            <img src="../assets/fa-shopping-cart.png" alt="">
         </a>
        </li>
      </ul>
   </nav>
  </header>

 <router-outlet></router-outlet>

 <div class="about">
   <div class="about-us">
     <p>About us</p>
   </div>
    <hr>
    <div class="about-text">
    <p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud
      exercitation.
    </p>
  </div>
    <hr>
 </div>

 <div class="feedback">
  <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="29" height="24" viewBox="0 0 29 24"><defs><path id="9kq9a" d="M93 2667.85c-1.06.47-2.22.8-3.42.94a6.02 6.02 0 0 0 2.62-3.34c-1.15.7-2.43 1.2-3.78 1.46a5.88 5.88 0 0 0-4.34-1.9 6 6 0 0 0-5.95 6.05c0 .47.06.94.15 1.39a16.8 16.8 0 0 1-12.26-6.34 6.08 6.08 0 0 0 1.84 8.1 5.9 5.9 0 0 1-2.69-.77v.07a6.03 6.03 0 0 0 4.77 5.95 6.17 6.17 0 0 1-2.69.11 5.97 5.97 0 0 0 5.56 4.2 11.77 11.77 0 0 1-8.82 2.51 16.58 16.58 0 0 0 9.13 2.72c10.94 0 16.92-9.22 16.92-17.23 0-.26 0-.52-.02-.79a12.92 12.92 0 0 0 2.98-3.13z"/></defs><g><g transform="translate(-64 -2665)"><use fill="#424242" xlink:href="#9kq9a"/></g></g></svg>
  <q> E-commerce psd theme available </q>
 </div>

 <footer>
  <div class="description">
    <h2>Trekking</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
  </div>
  <div class="nav-footer">
   <ul>
     <li><a href="#">Credits</a></li>
     <li><a href="#">Privacy</a></li>
     <li><a href="#">About</a></li>
     <li><a href="#">Contact</a></li>
   </ul>
   <div class="author">
    <p>Design by gianluca cosetta</p>
  </div>
  </div>
 </footer>
</div>
