header {
    color: white;
    position: absolute;
    background: rgba($color: #000000, $alpha: .3);
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 15px;

    nav {
        font-size: 18px;
        font-weight: 400px;
        ul {margin: 0;
            padding: 0;
            list-style: none;
            display: flex;
            li {
                a{
                    color: white;
                    text-decoration: none;
                    padding: 0 20px;
                }

            }
        }
    }
}

